<div class="row justify-content-center mt-3">
  <div class="menu col-lg-6 col-s-12">
    <app-product *ngFor="let product of products" src="{{product.src}}" name="{{product.name}}">
    </app-product>
  </div>
  <div class="product col-lg-3 col-s-12">
    <app-product-details src={{currentProduct.src}} name={{currentProduct.name}}
      price={{currentProduct.price}}>
    </app-product-details>
  </div>
</div>

<!-- todo---- Change Product on click-->
<!-- Price not fetching -->
<!-- todo---- Make Product details responsive-->
