<div class="container d-flex align-items-center  flex-column justify-content-center">
  <div class="background">
    <img src="{{src}}" alt="" width="30%" />
  </div>
  <br />
  <div class="d-flex select gap-5">
    <div>
      {{ name }}:
      <span>{{ price }} EGP</span>
    </div>
    <div class="d-flex select gap-2">
      {{ boughtItemsCount }}
      <button class="btn btn-danger" (click)="onDelete()">-</button>
      <button class="btn btn-success" (click)="onAdd()">+</button>
    </div>
  </div>

  <div class="size d-flex select gap-3 mt-3 mb-3 justify-content-center align-items-center">
    <p>Size:</p>
    <button class="small" (click)="selectSize(1)">
      <img *ngIf="sizeSelected==1;else original" src="/assets/coffeecupselected.png" />
      <ng-template #original>
        <img src="/assets/coffeecup.png" />
      </ng-template>
    </button>
    <button class="medium" (click)="selectSize(2)">
      <img *ngIf="sizeSelected==2;else original" src="/assets/coffeecupselected.png" />
      <ng-template #original>
        <img src="/assets/coffeecup.png" />
      </ng-template>
    </button>
    <button class="large" (click)="selectSize(3)">
      <img *ngIf="sizeSelected==3;else original" src="/assets/coffeecupselected.png" />
      <ng-template #original>
        <img src="/assets/coffeecup.png" />
      </ng-template>
    </button>
  </div>

  <div class="sugar d-flex select gap-3 mb-3 ustify-content-center align-items-center">
    <p>Sugar:</p>
    <button class="small-s" (click)="selectSugar(1)">
      <img *ngIf="sugarSelected==1;else sugar1" src="/assets/zerosugarcubeselected.png" />
      <ng-template #sugar1>
        <img src="/assets/zerosugarcube.png" />
      </ng-template>
    </button>
    <button class="medium-s" (click)="selectSugar(2)">
      <img *ngIf="sugarSelected==2;else sugar2" src="/assets/onesugarcubeselected.png" />
      <ng-template #sugar2>
        <img src="/assets/onesugarcube.png" />
      </ng-template>
    </button>
    <button class="large-s" (click)="selectSugar(3)">
      <img *ngIf="sugarSelected==3;else sugar3" src="/assets/twosugarcubeselected.png" />
      <ng-template #sugar3>
        <img src="/assets/twosugarcubes.png" />
      </ng-template>
    </button>
    <button class="extra-s" (click)="selectSugar(4)">
      <img *ngIf="sugarSelected==4;else sugar4" src="/assets/threesugarcubeselected.png" />
      <ng-template #sugar4>
        <img src="/assets/threesugarcubes.png" />
      </ng-template>
    </button>
  </div>
  <div class="total mb-3">Total: <span class="total-amount">{{total}}</span> EGP.</div>
  <button class="add-to-cart" (click)="addToCart()">Add To Cart</button>
</div>
