* {
  font-weight: bold;
}
.container {
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding: 0 !important;
}
.background {
  background-image: url("https://cdn.pixabay.com/photo/2020/07/18/16/29/coffee-5417663_1280.png");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}
.small {
  border: none;
  background-color: transparent;
}
.small img {
  width: 30px;
  height: 50px;
}
.medium {
  border: none;
  background-color: transparent;
}
.medium img {
  width: 50px;
  height: 70px;
}
.large {
  border: none;
  background-color: transparent;
}
.large img {
  width: 70px;
  height: 90px;
}
.small-s {
  border: none;
  background-color: transparent;
}
.small-s img {
  width: 30px;
  height: 50px;
}
.medium-s {
  border: none;
  background-color: transparent;
}
.medium-s img {
  width: 30px;
  height: 50px;
}
.large-s {
  border: none;
  background-color: transparent;
}
.large-s img {
  width: 30px;
  height: 50px;
}
.extra-s {
  border: none;
  background-color: transparent;
}
.extra-s img {
  width: 30px;
  height: 50px;
}

.add-to-cart {
  display: inline-block !important;
  text-decoration: none;
  color: white;
  border: 1px solid #845d33;
  background: #845d33;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
  float: none !important;
}
.add-to-cart:hover {
  border-radius: 0% !important;
  border: 1px solid #845d33;
  color: #845d33;
  background: white;
  transition: 1s;
}
