<div class="container shopping-cart d-flex flex-column justify-content-center">
    <div class="title d-flex justify-content-between p-3 mb-4">
        <p>Shopping Cart</p>
    </div>
    <table class="p-2" style="border-spacing: 30px;">
        <tr class="header">
            <th></th>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>

        </tr>
        <tr class="item pt-2" *ngFor="let item of cartProducts">
            <td>
                <img src="{{item.src}}" alt="" style="width: 50px; height: 100%" />
            </td>
            <td>
                <span>{{item.name}}</span>
            </td>
            <td>
                <button class="btn plus-btn" type="button" name="button">+</button>
                <span>{{item.amount}}</span>
                <button class="btn minus-btn" type="button" name="button">-</button>
            </td>
            <td>
                ${{item.amount*item.currentPrice}}
            </td>
            <td>
                <button class="btn delete-btn"> <i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </table>


    <div class="total p-3">
        Total price:${{totalPrice}}
    </div>

    <div class="button-holder d-flex justify-content-center">
        <button class="btn btn-success" (click)="deleteProducts()">Place Order</button>
    </div>
</div>
