.container {
  margin-top: 3px;
  border: 1px solid rgba(128, 128, 128, 0.1);
}
.title {
  font-size: 1.5rem;
  color: #5e6977;
  border-bottom: 1px solid #e1e8ee;
}

.total {
  color: #5e6977;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: end;
}

.items {
  height: 3rem;
}
