<div class="d-flex">
  <div class="li-topnav d-flex align-items-center gap-3 w-100">
    <a href="#/crud/main" class="logo"><img src="/assets/logo.png" alt="" /></a>
    <a href="#/crud/main"
      [ngClass]="{'active': getRoute().isHomeRoute()||getRoute().isLoginRoute()|| getRoute().isRegisterRoute()}">Home</a>
    <a id="menu" href="#/crud/menu" [ngClass]="{'active': getRoute().isMenuRoute()}">Menu</a>
    <a id="about" href="#/crud/about" [ngClass]="{'active': getRoute().isAboutRoute()}">About</a>
    <div *ngIf="checkLoggedIn()" class="user d-flex w-100 justify-content-end">
      <a href="#/crud/user" [ngClass]="{'active': getRoute().isUserRoute()}"><img
          src="assets/user.png" alt=""></a>
      <a href="#/crud/cart-p" [ngClass]="{'active': getRoute().isCartRoute()}"><img
          src="assets/cart.png" alt=""></a>
      <a (click)="getRoute().toLogin()" (click)="deleteProducts()" (click)="getUser().loggedOut()"
        href="#/crud/main"><img src="assets/logout.png" alt=""></a>
    </div>
  </div>
</div>
