.form-box {
  width: 25vw;
  height: 78vh;
  border-radius: 25px;
  border: 2px solid rgb(80, 72, 72);
}

.button-box {
  margin: 10%;
  width: 50%;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 0.5vw 2vw;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
  color: white;
}
.active {
  background-color: rgb(190, 154, 118);
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-right: 0px solid #999;
  background: transparent;
  color: white;
}
.input-field::placeholder {
  color: white;
}
.submit-holder {
  width: 100%;
}
.submit-btn {
  width: 85%;
  padding: 3%;
  cursor: pointer;
  display: block;
  margin: auto;
  background: rgb(190, 154, 118);
  border: none;
  outline: none;
  border-radius: 30px;
  color: white;
}
