<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<section class="footer">
  <div class="row">
    <div class="footer-col">
      <h1>Our Slogan</h1>
      <br />
      <p>
        Come enjoy Your Time in 5 Min with Your<br />
        With the best Taste
      </p>
    </div>
    <div class="footer-col">
      <h1>Our Location</h1>
      <br />
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4108.254071977967!2d31.428011201623523!3d30.0191771902737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583cd95c4946c9%3A0x62bf4fdbcdb1b20d!2sBanque%20Misr!5e0!3m2!1sen!2sde!4v1660554927419!5m2!1sen!2sde"
        width="350" height="150" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="footer-col">
      <h1>Our Mission</h1>
      <br />
      <p>
        To inspire and nurture the human spirit <br />one person
        one cup, and one <br />neighborhood at a time
      </p>
    </div>
  </div>
  <div class="foot">
    <div class="icons">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-linkedin"></i>
    </div>
    <p><i class="fa fa-heart-o"></i> Developed by BM</p>
  </div>
</section>
