<div class="d-flex">
  <!-- Make the navbar occupy the whole top of the screen seperated between. -->
  <div class="website d-flex align-items-center">
    <a [routerLink]="['/home']" class="logo"><img src="/assets/logo.png" alt="" /></a>
    <a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
    <a id="menu" [routerLink]="['/menu']" routerLinkActive="active">Menu</a>
    <a id="about" [routerLink]="['/about']" routerLinkActive="active">About</a>
  </div>
  <div class="user d-flex align-items-center">
    <a [routerLink]="['/user']" routerLinkActive="active">
      <img src="assets/user.png" alt="">
    </a>
    <a [routerLink]="['/cart-p']" routerLinkActive="active">
      <img src="assets/cart.png" alt="">
    </a>
    <a (click)="getRoute().toLogin()" (click)="deleteProducts()" (click)="getUser().loggedOut()"
      [routerLink]="['/home']">
      <img src="assets/logout.png" alt="">
    </a>
  </div>
</div>
