<div class="form-box d-flex flex-column align-items-center gap-5">
  <div class="button-box d-flex justify-content-center">
    <a href="#/crud/login">
      <button type="button" class="toggle-btn"
        [ngClass]="{'active': getRoute().isLoginRoute()}">Login</button>
    </a>
    <a href="#/crud/register">
      <button type="button" class="toggle-btn"
        [ngClass]="{'active': getRoute().isRegisterRoute()}">Register</button>
    </a>
  </div>
  <div id="login" class="input-group d-flex flex-column gap-3 w-75">
    <input type="email" class="input-field" placeholder="Email" required [(ngModel)]="email" />
    <input type="password" class="input-field" placeholder=" Password" required
      [(ngModel)]="password" />
    <div class="submit-holder">
      <button class="submit-btn" (click)="onLogin()">Login</button>
      <div *ngIf="!isLogged" class="error">Please check your e-mail and password!</div>
    </div>
  </div>
</div>
