<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div>
  <div class="form-boxx">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn">Login</button>
      <a href="#/crud/register"> <button type="button" class="toggle-btn">Register</button></a>
    </div>
    <div class="social-icons">
      <img src="fb.png" alt="" />
      <img src="tw.png" alt="" />
      <img src="gp.png" alt="" />
    </div>
    <div id="login" class="input-group">
      <input type="email" class="inpit-feild" placeholder="Email" required [(ngModel)]="email" />
      <input type="password" class="inpit-feild" placeholder=" Password" required
        [(ngModel)]="password" />
      <div class="submit-holder">
        <button class="submit-btn" (click)="onLogin()">Login</button>
      </div>
    </div>
  </div>
</div>
