<div class="shopping-cart">
  <div class="title">Shopping Cart</div>
  <div class="item" *ngFor="let item of getCart()">
    <div class="image">
      <img src="{{item.src}}" alt="" style="width: 100%; height: 100%" />
    </div>
    <div class="description">
      <span>{{item.name}}</span>
    </div>

    <div class="quantity">
      <button class="plus-btn" type="button" (click)="onDec()" name="button">+</button>
      <span>{{item.quantity}}</span>
      <button class="minus-btn" type="button" name="button">-</button>
    </div>

    <div class="total-price">${{item.quantity*item.price}}</div>
    <div class="buttons">
      <span class="delete-btn"> <i class="fa fa-trash"></i></span>
    </div>
  </div>

  <div class="totale">Total price: </div>
</div>
