<div class="row">
  <form class="d-flex flex-column" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <input type="text" class="input-field" placeholder="Username" name="username"
      formControlName="username" />
    <input type="number" class="input-field" placeholder="Phone number" name="number"
      formControlName="number" />
    <input type="email" class="input-field" placeholder="Email" name="email"
      formControlName="email" />
    <input type="password" class="input-field" placeholder=" Password" name="password"
      formControlName="password" />
    <input type="password" class="input-field" placeholder="Confirm Password" name="confirmPassword"
      formControlName="secondPassword" />
    <div class="d-flex justify-content-end">
      <button class="submit-btn" [disabled]="!registerForm.valid">Register</button>
    </div>
    <p class="error" *ngIf="error">{{error}}</p>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </form>
</div>
