form {
  width: 30rem;
  border-radius: 25px;
  border: 1px solid rgb(80, 72, 72);
  border-top: 1px solid rgba(80, 72, 72, 0.3);
  border-bottom: 1px solid rgba(80, 72, 72, 0.5);
  padding: 1rem;
  background-color: rgba(80, 72, 72, 0.178);
}
.input-field {
  padding: 1rem 0;
  border: 0px;
  border-bottom: 1px solid #999;
  background: transparent;
  color: white;
}

.input-field::placeholder {
  color: white;
}

.submit-btn {
  background: rgb(190, 154, 118);
  border: none;
  border-radius: 30px;
  color: white;
}
.submit-btn:disabled {
  background-color: #999;
}
.submit-btn:hover {
  background: rgb(190, 154, 118);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
