.item {
  max-width: 6%;
}
button {
  border: 1px solid rgba(128, 128, 128, 0.438);
}
.arrow {
  max-width: 3%;
}
button:hover .arrow {
  transform: translate(25%);
  transition: transform 0.3s ease-in-out;
}
