<div class="row">
  <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <input type="email" class="input-field" placeholder="Email" formControlName="email" />
    <input type="password" class="input-field" placeholder="Password" formControlName="password" />
    <div class="d-flex justify-content-end">
      <button class="submit-btn">Login</button>
      <div *ngIf="!isLogged" class="error">Please check your e-mail and password!</div>
    </div>
  </form>
</div>
