.input-field {
  padding: 10px 0;
  border: 0px;
  border-bottom: 1px solid #999;
  background: transparent;
  color: white;
}

.input-field::placeholder {
  color: white;
}

.submit-btn {
  background: rgb(190, 154, 118);
  border: none;
  border-radius: 30px;
  color: white;
}
