<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div>
  <div class="form-boxx">
    <div class="button-box">
      <div id="btnn"></div>
      <a href="#/crud/login"><button type="button" class="toggle-btn">Login</button></a>
      <button type="button" class="toggle-btn">Register</button>
    </div>
    <div class="social-icons">
      <img src="fb.png" alt="" />
      <img src="tw.png" alt="" />
      <img src="gp.png" alt="" />
    </div>
    <div #f id="login" class="input-group">
      <input type="text" class="inpit-feild" placeholder="Username" required />
      <input type="number" class="inpit-feild" placeholder="Phone number" required />
      <input type="email" class="inpit-feild" placeholder="Email" required
        pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" />
      <input type="password" class="inpit-feild" placeholder=" Password" required />
      <input type="password" class="inpit-feild" placeholder="Confirm Password" required />
      <div class="submit-holder">
        <button type="submit" (click)="onFormSubmit(f)" class="submit-btn">Register</button>
      </div>
    </div>
  </div>
</div>
