.form-box {
  width: 50vw;
  height: 74vh;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border-radius: 25px;
}
.form-boxx {
  width: 25vw;
  height: 78vh;
  position: relative;
  margin: 5% auto;
  background: transparent;
  padding: 5px;
  overflow: hidden;
  border-radius: 25px;
  border: 2px solid rgb(80, 72, 72);
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
  color: white;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  width: 110px;
  height: 100%;
  background: rgb(190, 154, 118);
  border-radius: 30px;
  transition: 0.5s;
}
#btnn {
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
  width: 110px;
  height: 100%;
  color: white;
  background: rgb(190, 154, 118);
  border-radius: 30px;
  transition: 0.5s;
}
.social-icons {
  margin: 20px;
  text-align: center;
}
.social-icons img {
  width: 30px;
  margin: 0 5px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50px;
}
.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.inpit-feild {
  width: 100%;
  padding: 10px 0;
  margin: 5px o;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-right: 0px solid #999;
  outline: none;
  background: transparent;
  margin-bottom: 20px;
  color: white;
}
.inpit-feild::placeholder {
  color: white;
}
.submit-holder {
  width: 100%;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: rgb(190, 154, 118);
  border: 0;
  outline: none;
  border-radius: 30px;
  color: white;
}
.check-box {
  margin: 30px 10px 30px 0;
}

#login {
  left: 50px;
}
#register {
  left: 450px;
}
