<app-navbar></app-navbar>
<div class="landing d-flex flex-column justify-content-center align-items-center">
  <!-- Either show text-box/login/registration -->
  <div class="text-box" *ngIf="getRoute().isHomeRoute()">
    <h1>Welcome to CoffeTek</h1>
    <p>
      I like coffee because it gives me the illusion that I might be awake. <br />
      What goes best with a cup of coffee? Another cup.
    </p>
    <div class="buttons d-flex justify-content-center gap-3">
      <a href="#/crud/register" class="visit-us-btn">Join Us Now!</a>
      <a href="#/crud/login" class="visit-us-btn login-btn">Already a member?</a>
    </div>
  </div>
  <app-login *ngIf="getRoute().isLoginRoute()"></app-login>
  <app-register *ngIf="getRoute().isRegisterRoute()"></app-register>
</div>
