section {
  overflow: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("/assets/coffe.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

section::before {
  position: absolute;
  content: "";
  z-index: -1;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("/assets/coffe.jpg");
  background-position: center;
  background-size: cover;
}

.landing a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.landing a:hover {
  transition: 0.3s;
  background-color: #845d33;
  border: 1px solid black;
}
.text-box {
  color: white;
  text-align: center;
}
.text-box h1 {
  font-size: 3vw;
  font-weight: bolder;
}

.text-box p {
  font-size: 1.3vw;
  margin: 2% 0%;
}

.visit-us-btn {
  border: 1px solid white;
}

.landing a.active {
  border-bottom: 1px solid #845d33;
}
app-navbar {
  margin-bottom: 10%;
}
