.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/assets/coffe.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1 {
  margin-top: 50px;
}
nav {
  display: flex;
  padding: 2% 4%;
  justify-content: flex-start;
  align-items: center;
}
nav img {
  width: 200px;
  padding-right: 40px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p {
  padding: 15px 0 25px;
}
.visit-us-btn {
  display: inline-block !important;
  text-decoration: none;
  color: white;
  border: 1px solid #845d33;
  background: #845d33;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
  float: none !important;
}
.visit-us-btn:hover {
  border-radius: 0% !important;
  border: 1px solid #845d33;
  color: #845d33;
  background: white;
  transition: 1s;
}
h1 {
  font-size: 38px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
