<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<section class="facilities">
  <app-heading heading="Menu" description="Orchestrate your mornings to the tune of our coffee">
  </app-heading>
  <div class="container">
    <app-product src="assets/espresso.png" name="Espresso"></app-product>
    <app-product src="assets/cappuccino.png" name="Cappuccino"></app-product>
    <app-product src="assets/latte-macchiato.png" name="Macciato"></app-product>
    <app-product src="assets/mocha.png" name="Mocha"></app-product>
    <app-product src="assets/latte.png" name="Latte"></app-product>
  </div>
  <app-product-details src="assets/espresso.png" name="Espresso" price=36 boughtItemsCount=3>
  </app-product-details>
</section>
