<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<section class="facilities">
  <div class="row">
    <div class="menu-col1">
      <app-product src="assets/espresso.png" name="Espresso"></app-product>
      <app-product src="assets/cappuccino.png" name="Cappuccino"></app-product>
      <app-product src="assets/latte-macchiato.png" name="Macciato"></app-product>
      <app-product src="assets/mocha.png" name="Mocha"></app-product>
      <app-product src="assets/latte.png" name="Latte"></app-product>
    </div>
    <div class="menu-col">
      <app-product-details src="assets/espresso.png" name="Espresso" price=36 boughtItemsCount=3>
      </app-product-details>
    </div>
  </div>


</section>
