<div class="text-box w-100">
    <h1>Welcome to CoffeTek</h1>
    <p>
        I like coffee because it gives me the illusion that I might be awake. <br />
        What goes best with a cup of coffee? Another cup.
    </p>
    <div class="buttons d-flex justify-content-center gap-3">
        <a [routerLink]="['register']" routerLinkActive="router-link-active"
            class="visit-us-btn">Join Us Now!</a>
        <a [routerLink]="['login']" routerLinkActive="router-link-active"
            class="visit-us-btn login-btn">Already a member?</a>
    </div>
</div>
