html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-right: calc(
    -1 * (100vw - 100%)
  ); /*Prevent repositioning when there's a vertical scrollbar*/
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("/assets/coffe.png");
  background-position: center;
  background-size: cover; */
}
body {
  width: 100%!;
  margin: 0 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(13, 80, 138);
}
